body {
    background-color: rgb(29, 27, 27);
}

#images-button {
    font-size: 2vw;
    position: absolute;
    left: 92vw;
    bottom: 97vh;

}

#advanced-button {
    font-size: 2vw;
    position: absolute;
    left: 81vw;
    bottom: 97vh;
}

#search {
    font-size: 24px;
    height: 4vh;
    width: 30vw;
    position: absolute;
    left: 34vw;
    bottom: 48vh;
}

#goolge {
    height: 16vh;
    width: 23vw;
    position: absolute;
    left: 32vw;
    bottom: 52vh;
}